@using WebSite.EndPoint.Models.Dtos.Account
@model AccountDto

<!-- breadcrumb_section - start
================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="~/Home/Index">صفحه اصلی</a></li>
            <li>ورود یا ثبت نام</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- register_section - start
================================================== -->
<section class="register_section section_space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <ul class="nav register_tabnav ul_li_center" role="tablist">
                    <li role="presentation">
                        <button class="active" data-bs-toggle="tab" data-bs-target="#signin_tab" type="button" role="tab" aria-controls="signin_tab" aria-selected="true">
                            ورود
                        </button>
                    </li>
                    <li role="presentation">
                        <button data-bs-toggle="tab" data-bs-target="#signup_tab" type="button" role="tab" aria-controls="signup_tab" aria-selected="false">
                            ثبت نام
                        </button>
                    </li>
                </ul>
                <div class="register_wrap tab-content">
                    <div class="tab-pane fade show active" id="signin_tab" role="tabpanel">
                        <form asp-action="LoginOrRegister" method="post">
                            <div class="form_item_wrap">
                                <h3 class="input_title">شماره تماس*</h3>
                                <div class="form_item">
                                    <label asp-for="PhoneNumber"><i class="fas fa-user"></i></label>
                                    <input asp-for="PhoneNumber" placeholder="شماره تماس">
                                    <span>به عنوان مثال: 09015151501.</span>
                                </div>
                            </div>

                            <div class="form_item_wrap">
                                <h3 class="input_title">کلمه عبور*</h3>
                                <div class="form_item">
                                    <label asp-for="Password"><i class="fas fa-lock"></i></label>
                                    <input asp-for="Password" placeholder="کلمه عبور">
                                </div>
                            </div>

                            <div class="forget_pass_wrap align-items-center justify-content-between">
                                <div class="checkbox_item m-0">
                                    <input asp-for="IsPersistent">
                                    <label asp-for="IsPersistent">مرا به خاطر بسپار</label>
                                </div>
                                <div class="forget_pass">
                                    <a href="#!">فراموشی رمز عبور؟</a>
                                </div>
                            </div>

                            <div class="text-start">
                                <button type="submit" class="btn btn_secondary">اکنون ثبت نام کنید</button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="signup_tab" role="tabpanel">
                        <form asp-action="LoginOrRegister" method="post">
                            <div class="form_item_wrap">
                                <h3 class="input_title">پست الکترونیک*</h3>
                                <div class="form_item">
                                    <label asp-for="Email"><i class="fas fa-user"></i></label>
                                    <input asp-for="Email" placeholder="پست الکترونیک">
                                    <span>به عنوان مثال: moresaunity@gmail.com.</span>
                                </div>
                            </div>

                            <div class="form_item_wrap">
                                <h3 class="input_title">شماره تماس*</h3>
                                <div class="form_item">
                                    <label asp-for="PhoneNumber"><i class="fas fa-user"></i></label>
                                    <input asp-for="PhoneNumber" placeholder="شماره تماس">
                                    <span>به عنوان مثال: 09015151501.</span>
                                </div>
                            </div>

                            <div class="form_item_wrap">
                                <h3 class="input_title">کلمه عبور*</h3>
                                <div class="form_item">
                                    <label asp-for="Password"><i class="fas fa-lock"></i></label>
                                    <input asp-for="Password" placeholder="کلمه عبور">
                                </div>
                            </div>

                            <div class="forget_pass_wrap align-items-center justify-content-between">
                                <div class="checkbox_item m-0">
                                    <input asp-for="IsPersistent">
                                    <label asp-for="IsPersistent">مرا به خاطر بسپار</label>
                                </div>
                                <div class="forget_pass">
                                    <a href="#!">فراموشی رمز عبور؟</a>
                                </div>
                            </div>

                            <div class="text-start">
                                <button type="submit" class="btn btn_secondary">اکنون وارد شوید</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- register_section - end
================================================== -->
