<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogLevel="Trace">

	<targets async="true">
		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/Texts/logFile-${shortdate}.txt" archiveAboveSize="100000000" maxArchiveFiles="10"
				layout="${date} | ${iis-site-name} | ${aspnet-request-method} | ${level:uppercase=true} | ${logger} | ${message} 
				${newline} ${callsite} - Line: ${callsite-linenumber}
				${newline} ${hostname} | ${aspnet-request-ip}
				${newline} ${stacktrace}
				${newline} ${aspnet-user-claim}"/>
		<target name="jsonFile" xsi:type="File" fileName="${basedir}/Logs/Jsons/JsonLogFile-${shortdate}.log" archiveAboveSize="100000000" maxArchiveFiles="10">
			<layout type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="SiteName" layout="${iis-site-name}" />
				<attribute name="Method" layout="${aspnet-request-method}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="HostName" layout="${hostname}" />
				<attribute name="IP" layout="${aspnet-request-ip}" />
				<attribute name="eventPropertise" encode="false">
					<layout type="JsonLayout" includeAllPropertise="true" maxRecursionLimit="10" />
				</attribute>
			</layout>
		</target>
		<target name="logconsole" xsi:type="coloredconsole"></target>
		<target name="DbPortfolio" xsi:type="Database" 
				connectionString="Data Source=.; Initial Catalog=DbPortfolio; User id=sa; Password=H8hd@f6(3gfksdg; TrustServerCertificate=True;"
				commandText="insert into dbo.Log (MachineName, Logged, Level, Message,Logger, Callsite, Exception) values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);">

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile"/>
		<logger name="*" minlevel="Info" writeTo="jsonFile"/>
		<logger name="*" minlevel="Error" writeTo="DbPortfolio"/>
		<logger name="*" minlevel="Debug" writeTo="logconsole"/>
	</rules>
</nlog>